.custom-btn-wrapper-d1aeb1d9 {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    gap: 20px;
}
.custom-btn-wrapper-d1aeb1d9:hover, .custom-btn-wrapper-d1aeb1d9:focus {
    opacity: 0.9;
    text-decoration: none;
}
.custom-btn-wrapper-d1aeb1d9 .btn-text {
    font-weight: 600;
    font-size: 24px;
}
.custom-btn-wrapper-d1aeb1d9 .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 16px;
}
.custom-btn-wrapper-d1aeb1d9 .btn-icon svg {
    width: 24px;
    height: 24px;
}
.custom-btn-wrapper-d1aeb1d9 .btn-icon i {
    font-size: 24px;
}